.header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: aliceblue;
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .headerHW {
    width: 100%;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 42px;
  }

  .navItems {
    margin-left: auto;
  }

  .navItem {
    margin-left: 16px;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      color: green;
    }
  }
}

.hidden {
  display: none;
}
